<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>
<div class="container">
  <div class="row">
    <img class="col-lg-3 col-xs-12" src="https://image.flaticon.com/icons/png/128/1611/1611302.png" alt="" />
  </div>
  <div class="row">
    <button on-click = "incrementar" class="col-xs-12 col-lg-4 btn btn-warning" type="button" name="button">Cargar datos</button>
    <br>
    Bidireccional: <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
    <br>
    Unidireccional: <input type="text" value="[[prop1]]">
  </div>
  <div class=row>
    <table class="table table-striped col-lg col-xs-12">
      <thead>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Juanito</td>
          <td>Pérez</td>
        </tr>
        <tr>
          <td>[[prop2]]</td>
          <td>Selena</td>
          <td>Nito del Bosque</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Pedro</td>
          <td>Páramo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Mivisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
/*            value: 'mi-visor'*/
          },
          prop2:{
            type: Number,
            value:999
          },
          prop3:{
            type:String,
            value: "indique su usuario"
          }
        };
      }
    incrementar(){
      this.prop2 = prop2 + 1;
      console.log("prop1" + this.prop1);
      console.log("prop2" + this.prop2);
  }
    }

    window.customElements.define(Mivisor.is, Mivisor);
  </script>
</dom-module>
